$mainColor :#48C9B0;
.s-compnent, .s-text {
    font-family: "brandon grotesque", brandon, helvetica, sans-serif;
}

.section-1 {
	position:relative;
	background-image: url(../img/background.jpg);
	background-size: cover;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
     background-attachment: fixed;
	height: 100vh;
	
}

.container {
	margin: 0 auto;
    padding: 0;
    position: relative;
    width: 944px;
	top :42vh;

}

.title-group {
	position: relative;
	color:white;
	text-align: center;
	margin-bottom: 10px;
	text-shadow: 0 1px 2px rgba(0,0,0,.2);
	margin-bottom: 0px;
	line-height: 0.8;
}
.subtitle {
	margin-bottom: 26px;
}
.s-component-content .s-font-heading{
	font-size: 500px;
}
.s-component-content {
	width:auto;
}
.s-component-content::before, .s-component-content::after {
	content:"";
	height:2px;
	background: white;
	position:absolute;
	width:80px;
	top: 75%;

	zoom: 1;
	
	 
}
.s-component-content::before {
	left:calc(50% - 80px / 2 - 246px);
}
.s-component-content::after {
	left:calc(50% - 80px / 2 + 246px);
}

.timeline {
	position:relative;
	display: inline-block;
	background-color: #eee;
	padding: 0;
	margin: 0;
	
	width:100%;
	border: 1px solid rgba(255,150,150,1);
	.up {
		display:inline-block;
		border: 1px solid rgba(255,150,150,1);
		margin: 0 auto;
		width:100%;
		.avatar {

			height:75px;
			width:75px;
			border:3px solid rgba(255,255,255,1);
			border-radius:50%;
			background-image: url("../img/profilePhoto.JPG");
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center;
			margin:0 auto;
			
		}
		
	}

	#infos {
		height: auto;
		position:relative;
		display:inline-block;
		border: 1px solid rgba(255,150,150,1);
		width:1200px;
		left: calc(50% - 1200px / 2);

		> i {
			display: inline-block;
			content:'';
			position: absolute;
			top:0;
			left:calc(50% - 10px / 2);
			min-height:calc(100% - (32px + 8px));
			width:10px;
			
			&::before,&::after {
				content:'';
				position: absolute;
				background-color: rgba(211,211,211,.8);
				display: inline-block;
			}

			&::before {
				
				top:0;
				left:calc(50% - 2px /1.5);
				border-right: 1px solid white;
				height: 100%;
				width:2px;
			}
			&::after{
				
				bottom:0;
				left:0;
				height:10px;
				width:10px;
				border-radius: 50%;
				
			}
		}
		button {
			z-index:2;
		}
		.info {
			position: relative;
			display: inline-block;
			width:100%;
			margin-top: 22px;
			padding-bottom: 40px;

			$iconsize: 40px;
			> i {
				position: absolute;
				top:0;
				left:calc(50% - #{$iconsize} / 2);
				width:#{$iconsize};
				height:#{$iconsize};
				background-color: $mainColor;
				color:white;
				font-size:20px;
				border-radius: 50%;
				text-align: center;
				line-height: 40px;
				box-shadow: 1px 1px 2px rgba(0,0,0,.4);
				text-shadow: 1px 1px 1px rgba(0,0,0,.4);
				z-index: 1;
			}

			> time {
				display: inline-block;
				position: absolute;
				height:35px;
				width:110px;
			
				top: 0;
				
				font-size: 14px;
				padding:3px 5px;
				font-weight: 600;
				color:rgba(111,111,111,.8);
	

				&::before {
					display: inline-block;
					content: attr(data-time);
					position: absolute;
					left:0;
					bottom:0;
					right:5px;
					heght:5px;
					line-height: 5px;
					font-size: 10px;
					color:rgba(160,160,160,1);

				
				}
			}

			.card {
				display: inline-block;
				
				top:0;
				width: calc(50% - #{$iconsize + 10px} / 2);
				min-height: 45px;
				background-color: white;
				text-align: left;
				border-radius: 5px;
				box-shadow: 1px 1px 5px rgba(0,0,0,.3);

				z-index: 3;
				&:after, &:before {
					z-index: 3;
					right: calc(50% - #{$iconsize + 12px} / 2);
					top: 19px;
					border: solid transparent;
					content: " ";
					height: 0;
					width: 0;
					position: absolute;
					pointer-events: none;
				}
				$t:7px;
				&:after {
					border-color: transparent;
					border-right-color: rgba(255,255,255,1);
					border-width: $t;
					margin-top: -$t;
				}
				&:before {
					border-color: transparent;
					border-right-color:  rgba(200,200,200,1);
					border-width: $t;
					margin-top: -$t;
				}
				img {
					width:45px;
					height:45px;
					border-radius: 10px;
					float:left;
					margin-top : 6px;
					margin-left: 6px;
					margin-bottom: 6px;
					+ h3 {
						float:left;
						padding : 0 8px;
						width: calc(100% - (45px + 6px));
						margin-top : 6px;
					}

					+ p {

					}
				}
				h3, p, div {
					display: inline-block;
					width:100%;
					padding: 0 16px;
				}
				h3 {
					height:45px;
					line-height: 45px;
				}

				p {
					font-size: 14px;
					letter-spacing: 2px;
					line-height: 28px;
				}
				div {
		
					text-align: right;
					padding: 13px 16px 13px 0;
					border-top: 1px solid rgba(111,111,111,.5);
					margin-top: 16px;
				}
				a {
					background-color: #48C9B0; /* Green */
				    border: 1px solid rgba(211,211,211,.5);
				    box-shadow: 1px 1px 1px rgba(255,255,255,.4);
				    color: white;
				   	height:32px;
				   	line-height: 32px;
				   	width:60px;
				    text-align: center;
				    text-decoration: none;
				    display: inline-block;
				    font-size: 14px;
				    border-radius: 6%;
				    -webkit-transition-duration: 1s; /* Safari */
				    transition-duration: 1s;
				    cursor: pointer;
				}
			}

			&:nth-child(2n + 3) {
				> time {
					left: calc(50% - #{$iconsize} / 2 - 110px);
					text-align: right;
				}

				.card {
					float:right;
				}

			}
			&:nth-child(2n + 4) {
				 > time {
				 	right: calc(50% - #{$iconsize} / 2 - 110px);
					text-align:left;
					&:before {
						left:5px;
						right:0;
					}
				}
				 .card {
					float:left;
					
					$t:7px;
					&:after, &:before {
						left: calc(50% - #{$iconsize + 12px} / 2);
						top: 19px;
						border: solid transparent;
						content: " ";
						height: 0;
						width: 0;
						position: absolute;
						pointer-events: none;
					}

					&:after {
						border-color: transparent;
						border-left-color:  rgba(255,255,255,1);
						border-width: $t;
						margin-top: -$t;
					}
					&:before {
						border-color: transparent;
						border-left-color:  rgba(200,200,200,1);
						border-width: $t;
						margin-top: -$t;
					}
				}
			}


		}
	}
	
}
.btn {
	
    background-color: #678; /* Green */
    border: 1px solid rgba(211,211,211,.5);
    box-shadow: 1px 1px 1px rgba(255,255,255,.4);
    color: white;
    font-weight: 700;
   	// height:50px;
   	// line-height: 50px;
   	// width:160px;
   	padding:12px 20px 13px;
    text-align: center;
    text-decoration: none;
    text-shadow: 1px 2px rgba(0,0,0,.2);
    display: inline-block;
    font-size: 16px;
    border-radius: 999px;
    -webkit-transition-duration: 1s; /* Safari */
    transition-duration: 1s;
    cursor: pointer;
   
 

 
}
.section-3 {
	
	position:relative;
	background-color: white;
	width:100%;
	height:auto;
	padding-top:70px;
	top : 0;
	
	.infos {
		margin : 10px 0;
	}

	> .container {
		width:60%;
		margin: 0px auto; 
		top:0;
	}

	.heading {
		width:100%;
		display:inline-block;
		text-align: center;
		margin-bottom: 30px;
		position: relative;
		h1 {
			font-family: 'Signika', sans-serif;
			font-size:36px;
			font-weight: 900;
			
			&:before,&:after {
				content:"";
				height:2px;
				background: black;
				position:absolute;
				width:80px;
				top:50%;
				zoom: 1;
			}

			&:before {
				left:calc(50% - 80px / 2 - 183px);
			}
			&:after {
				left:calc(50% - 80px / 2 + 183px);
			}
		}
	}

	.info {
		display:flex;
		flex-wrap: nowrap;
		justify-content: space-around;
		width:100%;
		margin-bottom: 5%;
		.info-content {
			width:60%;
			padding: 1% 0;

			.info-heading {
				font-size:18px;
				text-decoration: none;
				cursor:pointer;
				color: #2861b2;

				&:hover {
					filter:brightness(120%);
				}
			}
			.info-subtitle {
				font-size:16px;
				font-weight: 700;
				color:	#008080;
				line-height: 1.4;
				margin:8px 0;
				padding: 0;
			}
			> p {
				font-size:15px;
				color:rgba(111,111,111,.9);
				font-weight: 500;
				padding-bottom: 5%;
			}
		}

		.info-img {
			width:40%;
			padding: 0 7%;
			img {
				width:333px;
				height:100%;
				border-radius: 3%;
				box-shadow: 1px 1px 0.5px rgba(211,211,211,.8);
			}
		}
	}
}

.section-4 {
	position:relative;
	background-color: #eee;
	height: 100vh;
}

.section-5 {
	position:relative;
	background-color: white;
	height: 100vh;
	
}


